<div class="row router_view pt-3">
  <div class="col-12 flex-x-between">
    <h1>Staff</h1>
    <app-stepper
      (value)="(count)"
      (change)="onChangeCount($event)"
    ></app-stepper>
  </div>
  <div class="col-10 mx-auto">
    <p>{{ count }}</p>
    <div class="row">
      <div
        class="mb-3 col-3"
        *ngFor="let staff of staffsData.details.results; let i = index"
        [attr.data-index]="i"
      >
        <div class="box m-3 flex-column flex-center py-4 w-100">
          <img [src]="staff.image" alt="" class="avatar" />
          <p>{{ i + staff.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
